.admin-header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background-color: black;
    color: white;
    .brand-logo{
        font-size: 24px;
        padding-left: 28px;
    }

    .admin-account-container{
        display: flex;
        align-items: center;
        padding-right: 28px;
        .avatar{
            width: 40px;
            border-radius: 50%;
            margin-left: 16px;
            cursor: pointer;
        }

        .info-admin{
            .info-admin-name{
                display: flex;
                justify-content: flex-end;
            }
            margin-left: 16px;
            font-size: 18px;
            flex-direction: column;

        }

    }

}