.select-container{
    width: 100%;
    margin-bottom: 16px;
    label{
        display: block;
    }

    .input-select{
        width: 100%;
        height: 56px;
        padding-left: 18px;
		padding-right: 18px;
    }

    .error-input-message{
		color: red;
	}
}